body {
	margin-bottom: 140px;
	background-color: #F7882F;/*#DCC7AA;#F7882F;*/
	font-family: 'Istok Web', sans-serif;
	color: #2a2d2c;
}

/*@media (max-width: 500px) {
  body {
	margin-bottom: 160px;
  }
}*/

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}