body {
	margin-bottom: 140px;
	background-color: #F7882F;/*#DCC7AA;#F7882F;*/
	font-family: 'Istok Web', sans-serif;
	color: #2a2d2c;
	/*border: 2px solid green;*/
}

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}