body {
	margin-bottom: 140px;
	background-color: #F7882F;
}

/*@media (max-width: 500px) {
  body {
	margin-bottom: 160px;
  }
}*/

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}