.testimonial {
	margin-top: 2%;
	font-weight: bold;
	color: white;
}

.testiCard {
	background-color: #6b7A8F;
}

.testiColor {
	color: #F7C331;
	font-weight: bold;
}

.nav-link {
	color: #6b7A8F;
}

.footLinks {
	color: #DCC7AA;
}

.title {
	color: #6b7A8F;
	font-weight: bold;
	font-size: 60px;
}

.howObject {
	background-color: #6b7A8F;
	text-align: center;
	color: white;
	font-size: 2.5em;
	line-height: 5em;
	height: 200px;	
	width: 200px;
}

/*.dash {
	height: 20px;
	width: 40px;
	background-color: #F7C331;
	position: relative;
	top: 110px;
	left: 32px;
}*/

.head {
	background-color: #DCC7AA;
	padding-bottom: 0;
}

.foot {
	background-color: #6b7A8F;
	color: white;
	position: absolute;
	bottom: 0;
}

/*Media Queries*/