.testimonial {
	margin-top: 2%;
	font-weight: bold;
	color: white;
}

.testiCard {
	background-color: #6b7A8F;
	border: solid black 1px;
}

.testiColor {
	color: #F7C331;
	font-weight: bold;
}

.nav-link {
	color: /*white;*/#6b7A8F;
	font-family: 'Lobster', cursive;
}

.footLinks {
	color: #DCC7AA;
}

.title {
	color: /*white;*/#6b7A8F;
	font-weight: bold;
	font-size: 80px;
	font-family: 'Lobster', cursive;
}

.howObject {
	background-color: #6b7A8F;
	text-align: center;
	color: white;
	font-size: 2.5em;
	line-height: 5em;
	height: 200px;	
	width: 200px;
	border: solid black 1px;
	font-family: 'Lobster', cursive;
}

.head {
	background-color: /*#F7882F;*/#DCC7AA;
	padding-bottom: 0;
	border-bottom: solid black 1px;
}

.foot {
	background-color: #6b7A8F;
	border-top: solid black 1px;
	color: white;
	position: absolute;
	bottom: 0;
}

/*Media Queries*/