.testimonial {
	margin-top: 2%;
	font-weight: bold;
	color: white;
}

.testiCard {
	background-color: #6b7A8F;
}

.testiColor {
	color: #F7C331;
	font-weight: bold;
}

.nav-link {
	color: #6b7A8F;
}

.footLinks {
	color: #DCC7AA;
}

.GoFish {
	color: #6b7A8F;
	font-weight: bold;
	font-size: 60px;
}

.howCircle {
	height: 100%;
	width: 100%;
	background-color: #6b7A8F;
	margin: 0px;
	padding: 0px;
	border-radius: 50%;
}

.howText {
	text-align: center;
	/*font-size: 2.5em;*/
	position: relative;
	/*line-height: 3.5em;*/
	color: white;
}

.dash {
/*	height: 60px;
	width: 40px;*/
	background-color: #F7C331;
	position: relative;
	top: 4em;
	margin: 0px 5px 0px 5px;
	padding: 0px;
}

.head {
	background-color: #DCC7AA;
	padding-bottom: 0;
}

.foot {
	background-color: #6b7A8F;
	color: white;
	position: relative;
	bottom: 0;
}

/*Media Queries*/

@media (max-width: 500px) {
  .foot {
	height: 140px;
  }
}